{% extends "include/base.html" %}

{% block title %}
{% endblock %}

{% block content %}
    {% autoescape off %}
        {% if username == 0 %}
        <p>Hello,Anonymous!&nbsp&nbsp<a href="accounts/login">Login</a></p>
        {% endif %}
        {% if username != 0 %}
        <p>Hello,{{ username|safe }}!&nbsp&nbsp<a href="accounts/logout">Logout</a></p>
        {% endif %}
        <p>IP:{{ ip_address }}</p>
    {% endautoescape %}
    {# Not escaped characters("safe" or "autoescape") #}
    <p>{{ message|default:"This is a string literal." }}</p>
    {# filter no escaped characters #}
    {% for url in urls %}
        <li><a href="{{ url }}">{{ url }}</a></li>
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ block.super }}
    {# Get the block from base.html #}
    {% include 'include/footer.html' %}
{% endblock %}