{% extends "include/base.html" %}
{% load poll_extras %}
{# from books\templatetags #}
{% block title %}
    Search
{% endblock %}

{% block content %}
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li style="color: red">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    {% if query %}
        <p>You searched for: <strong>{{ query }}</strong></p>
        {% if books %}
            <p>Found {{ books|length }} book{{ books|pluralize }}.</p>
            {# "pluralize":if the books not only one, return "s" #}
            <ul>
                {% for book in books %}
                <li>{{ book.title|cut:" " }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No books matched your search criteria.</p>
        {% endif %}
    {% endif %}
    {{ current_time }}
{% endblock %}

{% block footer %}
    {{ block.super }}
    {# Get the block from base.html #}
    {% include 'include/footer.html' %}
{% endblock %}